@model IEnumerable<SanoCenterGold.Models.RetoEjercicio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdReto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEjercicio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdReto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEjercicio)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdRetoEjercicio">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdRetoEjercicio">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdRetoEjercicio">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


            </tbody>
            </table>
