@model SanoCenterGold.Models.Reto

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Reto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Imagen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaLimite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaLimite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdEntrenador)
        </dt>
        <dd class="col-sm-10">
            @String.Concat(Model.Entrenador.Nombre, " ", Model.Entrenador.Apellidos)
        </dd>
        <dt class="col-sm-2">
            Usuarios
        </dt>
        <dd class="col-sm-10">
            <table>
                <trow>
                    <thead>Nombre</thead>
                    <thead>Apellido</thead>
                    <thead>Estado</thead>
                    <thead>Valoración</thead>
                </trow>
                @foreach (var item in Model.Usuarios)
                {
                    <tr>
                        <td>
                            @item.Usuario.Nombre
                        </td>
                        <td>
                            @item.Usuario.Apellidos
                        </td>
                        <td>
                            @item.EstadoDelReto.ToString()
                        </td>
                        <td>
                            @((ViewData["Valoraciones"] as List<Valoracion>).Where(v => v.IdReto == item.IdReto && v.IdUsuario == item.IdUsuario).Select(v => v.Puntuacion).FirstOrDefault().ToString())
                        </td>
                    </tr>
                }
            </table>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ejercicios)
        </dt>
        <dd class="col-sm-10">

            <table>
                <trow>
                    <thead>Ejercicio</thead>
                    <thead>Series</thead>
                    <thead>Repeticiones</thead>
                </trow>
                @foreach (var item in Model.Ejercicios.Select(x => x.Ejercicio))
                {

                    <tr>
                        <td>
                            @item.Nombre
                        </td>
                        <td>
                            @item.Series
                        </td>
                        <td>
                            @item.Repeticiones
                        </td>
                    </tr>

                }
            </table>


        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>









