

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO A SANO CENTER</h1>
    <br/>
    <br/>

    
    @*<p></p>*@
</div>

@if ((ViewData["RetosDeUsuario"] as List<SanoCenterGold.Models.Reto>) != null &&
(ViewData["RetosDeUsuario"] as List<SanoCenterGold.Models.Reto>).Count > 0)
{
    <h2>MIS RETOS DISPONIBLES</h2>

    @foreach (var reto in ViewData["RetosDeUsuario"] as List<SanoCenterGold.Models.Reto>)
    {
        <div class="jumbotron-fluid col-lg-12">
            <p class="p-3">@reto.Nombre</p>
            @if (reto.Usuarios.Select(x => x.EstadoDelReto).FirstOrDefault() == SanoCenterGold.Enum.EstadoRetoEnum.Iniciado)
            {
                @:<p>Has iniciado este reto!</p>
            }
            <ul>
                @foreach (var ejercicio in reto.Ejercicios.Select(x => x.Ejercicio))
                {

                    <li>
                        @ejercicio.Nombre: @ejercicio.Series series de @ejercicio.Repeticiones repeticiones
                    </li>
                }

            </ul>
            @if (reto.Usuarios.Select(x => x.EstadoDelReto).FirstOrDefault() == SanoCenterGold.Enum.EstadoRetoEnum.Iniciado)
            {
                <button class="btn-primary float-right" id="@String.Concat("finalizar", @reto.Id)" onclick="location.href='@Url.Action("FinalizarReto", "Home", new { idReto = reto.Id })'">FINALIZAR</button>
            }
            else
            {
                <button class="btn-primary float-right" id="@String.Concat("iniciar", @reto.Id)" onclick="location.href='@Url.Action("IniciarReto", "Home", new { idReto = reto.Id })'">COMENZAR</button>
            }

            <button class="btn-danger float-right" id="@String.Concat("abandonar", @reto.Id)" onclick="location.href='@Url.Action("Abandonar", "Home", new { idReto = reto.Id })'">ABANDONAR</button>
        </div>
    }
}



@if ((ViewData["RetosGeneral"] as List<SanoCenterGold.Models.Reto>) != null &&
(ViewData["RetosGeneral"] as List<SanoCenterGold.Models.Reto>).Count > 0)
{
    <h2>RETOS DISPONIBLES</h2>

    @foreach (var reto in ViewData["RetosGeneral"] as List<SanoCenterGold.Models.Reto>)
    {
        <div class="jumbotron-fluid col-lg-12">
            <img src="~/img/@reto.Imagen" alt="Alternate Text" />
            <p class="p-3">@reto.Nombre</p>
            @if ((ViewData["Valoraciones"] as List<KeyValuePair<int, float>>).Where(v => v.Key == reto.Id).Count() > 0)
            {
                var valoracion = (ViewData["Valoraciones"] as List<KeyValuePair<int, float>>).Where(v => v.Key == reto.Id).FirstOrDefault();

                <p>
                    @valoracion.Value
                    <span class="fa fa-star checked"></span>
                </p>
            }
            else
            {
                @:<p>Aun no hay valoraciones para este reto</p>
            }
            <ul>
                @foreach (var ejercicio in reto.Ejercicios.Select(x => x.Ejercicio))
                {

                    <li>
                        @ejercicio.Nombre: @ejercicio.Series series de @ejercicio.Repeticiones repeticiones
                    </li>
                }

            </ul>
            <div class="clearfix">

                <button class="btn-primary float-right" id="@String.Concat("apuntarse", @reto.Id)" onclick="location.href='@Url.Action("Apuntarse", "Home", new { idReto = reto.Id })'">APUNTARSE</button>
            </div>

            @*<td>
                    <a asp-controller="Retos" asp-action="Edit" asp-route-id="@reto.Id">Editar</a> |
                    <a asp-controller="Retos" asp-action="Details" asp-route-id="@reto.Id">Detalles</a> |
                    <a asp-controller="Retos" asp-action="Delete" asp-route-id="@reto.Id">Eliminar</a>
                </td>*@
        </div>
    }
}


