@model SanoCenterGold.Models.Ejercicio

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Estás seguro de querer eliminar este curso?</h3>
<div>
    <h4>Ejercicio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dificultad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dificultad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Repeticiones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Repeticiones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Series)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Series)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
